#division-of-three{
    padding-top: 60px;
    margin-left: 25%;
    width: 50%;

 }
#Image{
    border: 5px solid ;
    width: 100%;
}
*{
    background-color: black;
}
h1,h2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  h1{
    text-transform: capitalize;
  }
  

  